<ion-header>
  <ion-navbar>
    <ion-title>Distribution</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="distribution-wrapper" *ngIf="isCardsAvailable(); else startNewGame">
    <div class="card-view" *ngIf="!!currentCard; else cardSelector">
      <button class="card-button" ion-button full outline (click)="hideCard()" (swipe)="hideCard()">
        <img [src]="currentCard.src">
        <h1>{{currentCard.name}}</h1>
      </button>
    </div>
    <ng-template #cardSelector>
      <div class="card-selector">
        <button class="next-card-button" ion-button full outline (click)="showCard()">Take Card</button>
      </div>
    </ng-template>
  </div>

  <ng-template #startNewGame>
    <h2>Everyone knew them Card</h2>
    <button ion-button full outline (click)="resetGame()">Reset Game</button>
  </ng-template>
</ion-content>
