<ion-header>
  <ion-navbar>
    <ion-title>Configuration</ion-title>
    <!--<button ion-button right>Go</button>-->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager *ngIf="!!preferences">
    <ion-slide>
      <h2>Total amount of players</h2>
      <div class="player-count">
        <ion-icon [name]="'contacts'"></ion-icon>
        <span *ngIf="preferences.total>0">{{ preferences.total }}</span>
      </div>
      <ion-range [(ngModel)]="preferences.total" [min]="preferences.minimum" [max]="preferences.minimum + 8" [step]="1" [snaps]="true" [pin]="true" (ionChange)="onTotalAmountChange()">
        <ion-icon range-left small [name]="'person'"></ion-icon>
        <ion-icon range-right [name]="'people'"></ion-icon>
      </ion-range>
    </ion-slide>

    <ion-slide>
      <h2>Amount of mafia</h2>
      <div class="mafia-count">
        <img class="mafia-count-icon" src="assets/imgs/mafia-icon.png" alt="mafia">
        <span *ngIf="getMafiaCount()>0">{{ getMafiaCount() }}</span>
      </div>

      <ion-buttons>
        <button ion-button icon-only outline (click)="decreaseMafiaAmount()">
          <ion-icon [name]="'remove'"></ion-icon>
        </button>
        <button ion-button icon-only outline (click)="increaseMafiaAmount()">
          <ion-icon [name]="'add'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-slide>

    <ion-slide>
      <h2>Additional Roles</h2>
      <ion-list>
        <ion-item>
          <ion-label>
            Sheriff
          </ion-label>
          <ion-toggle [(ngModel)]="sheriffEnabled" (ionChange)="changeSheriffState()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>
            Prostitute
          </ion-label>
          <ion-toggle [(ngModel)]="prostituteEnabled" (ionChange)="changeProstituteState()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>
            Doctor
          </ion-label>
          <ion-toggle [(ngModel)]="doctorEnabled" (ionChange)="changeDoctorState()"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide class="shuffle-slide">
      <button ion-button outline class="shuffle-btn" (click)="shuffle()">
        Shuffle
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div class="status-wrapper" *ngIf="!!preferences">
        <ion-icon [name]="'contacts'">{{ preferences.total }}</ion-icon>
        <span>:</span>
        <div class="icon-wrapper">
          <img class="custom-icon" src="assets/imgs/gangster-icon.png" alt="mafia">
          {{ getMafiaCount() }}
        </div>
        <div class="icon-wrapper" *ngIf="sheriffEnabled">
          <img class="custom-icon" src="assets/imgs/sheriff-icon.png" alt="sheriff">
        </div>
        <div class="icon-wrapper" *ngIf="prostituteEnabled">
          <img class="custom-icon" src="assets/imgs/prostitute-icon.png" alt="prostitute">
        </div>
        <div class="icon-wrapper" *ngIf="doctorEnabled">
          <img class="custom-icon" src="assets/imgs/doctor-icon.png" alt="prostitute">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>
